#root {
  /* max-width: 1280px; */
  margin: 0 ;
  padding:0;
  /* text-align: center; */
  /* position: relative; */
}

.top{
  height: 68px;
  width: 100vw;
  background-color: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.menuBtn{
  height: 100%;
  display: flex;
  padding: 0 10px;
  align-items: center;
  /* text-align: center; */
  
  /* background-color: bisque; */

}
.menuBtn:hover{
  background-color: rgb(0, 0, 0);
}

.search{
  width: 180px;
  height: 30px;
  border-radius: 15px;
  background-color: aliceblue;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  color: #000000;
}
.search input{
  border:none;
  outline: none; 
}

.createSpace{
  width: 80px;
  height: 20px;
  border-radius: 10px;
  border:1px solid white;
  text-align: center;
  padding: auto;
  font-size:13px;
  margin-left: 20px;
}
.loginBtn{
  margin-left:20px;
  font-size: 10px;
}
/* .search input:active{
  border:none;
} */
.contain{
  /* position: absolute;
  top:68px ; */
  width: 100vw;
  /* background-color: aquamarine; */
}